@import "common.css";
@import "collapsed-project.css";

anchor {
    display: none;
}

app,
lem {
    -oxy-display-tags: none;
    color: gray;
}

app > rdg {
    display: none;
}

note {
    display: none;
}

note:before {
    display: inline !important;
    content: "¹";
    color: blue;
    background-color: lightgray;
    -oxy-display-tags: none;
}

choice {
    -oxy-display-tags: none;
    color: gray;
}
