anchor {
    display: none;
}

app {
    -oxy-display-tags: none;
    display: oxy_xpath("if (exists(//variantEncoding[@method eq 'parallel-segmentation'])) then 'inline' else 'none'", processChangeMarkers, true, evaluate, dynamic);
}

app > lem {
    -oxy-display-tags: none;
    color: gray;
}

app > rdg {
    display: none;
}

app:has(lem:empty) {
    display: none;
}

choice {
    -oxy-display-tags: none;
    color: gray;
}
