@namespace xml "http://www.w3.org/XML/1998/namespace";


teiHeader,
teiHeader > * {
    display: none;
}

app {
    display: inline;
}

listApp {
    display: block;
}

listApp:before {
    content: "Apparatus " attr(type) attr(n);
    display: block;
    font-weight: 900;
    font-size: large;
    margin-top: 0.5ex;
}

listApp > app {
    display: block;
}

app[from]:before {
    content: oxy_button(actionID, "highlight.referenced", transparent, true);
    margin-right: 0.5em;
}

app[to]:before {
    content: oxy_button(actionID, "highlight.referenced", transparent, true);
    margin-right: 0.5em;
}

listApp > app > lem {
    color: darkgreen;
}

listApp > app > lem:after {
    content: " ] ";
}

listApp > app > lem[wit]:after {
    content: ": " attr(wit) " ] ";
}

listApp > app > rdg {
    display: inline;
    -oxy-display-tags: none;
    color: darkblue;
}

listApp > app > rdg:before {
    content: "";
}

listApp > app > rdg:after {
    content: ": " attr(wit);
    color: red;
}

noteGrp {
    display: block;
}

noteGrp:before {
    content: "Notes" attr(type) " " attr(n);
    display: block;
    font-weight: 900;
    font-size: large;
    margin-top: 0.5ex;
}

noteGrp > note {
    display: block;
    content: "";
    color: black;
    background-color: white;
}

noteGrp > note[targetEnd]:before, noteGrp[targetEnd]:before {
    -oxy-link: attr(targetEnd);
    content: "↤";
    color: blue;
    background-color: lightgray;
    text-decoration: underline;
    font-weight: 400;
    font-size: small;
    margin-right: 0.5em;
}

spanGrp {
    display: block;
}

spanGrp:before {
    content: "Annotations " attr(type) attr(n);
    display: block;
    font-weight: 900;
    font-size: large;
    margin-top: 0.5ex;
}

spanGrp > span {
    display: block;
}

span[from]:before {
    content: oxy_button(actionID, "highlight.referenced", transparent, true) oxy_button(actionID, "sel.tag", transparent, true);
}

span[to]:before {
    content: oxy_button(actionID, "highlight.referenced", transparent, true) oxy_button(actionID, "sel.tag", transparent, true);
}


/* taxonomies and interpGrps */

interpGrp {
    display: block;
}

interpGrp > interp {
    display: block;
}

taxonomy,
category,
interpGrp,
interp {
    padding-left: 1em;
}

/* show IDs of taxonomies and categories */
taxonomy[xml|id]:before,
category[xml|id]:before,
interpGrp[xml|id]:before,
interp[xml|id]:before {
    content:"#" attr(xml|id) ": ";
}
