@import "${framework(TEI P5)}/xml/tei/css/tei_oxygen.css";
@import "common-project.css";


teiHeader {
    display: none;
}

anchor {
    content: "⚓";
    color: blue;
    background-color: lightgray;
    -oxy-display-tags: none;
}

app {
    display: inline;
}

listApp {
    display: block;
}

listApp:before {
    content: "Apparatus " attr(type) attr(n);
    display: block;
    font-weight: 900;
    font-size: 1.1em;
}

listApp > app {
    display: block;
}

app[from]:before {
    -oxy-link: attr(from);
    content: "↦";
    color: blue;
    background-color: lightgray;
    text-decoration: underline;
    font-weight: 400;
    font-size: 0.9em;
    margin-right: 0.5em;
}

app[to]:before {
    -oxy-link: attr(to);
    content: "↤";
    color: blue;
    background-color: lightgray;
    text-decoration: underline;
    font-weight: 400;
    font-size: 0.9em;
    margin-right: 0.5em;
}

listApp > app > lem {
    color: darkgreen;
}

listApp > app > lem:after {
    content: " ] ";
}

listApp > app > rdg {
    display: inline;
    -oxy-display-tags: none;
    color: darkblue;
}

listApp > app > rdg:before {
    content: "";
}

listApp > app > rdg:after {
    content: ": " attr(wit);
    color: red;
}

noteGrp {
    display: block;
}

noteGrp > note {
    display: block;
}

spanGrp {
    display: block;
}

spanGrp > span {
    display: block;
}

interpGrp {
    display: block;
}

interpGrp > interp {
    display: block;
}