@namespace xml "http://www.w3.org/XML/1998/namespace";


pb {
    content: " [n: " oxy_textfield(edit, "@n", columns, 5) "] ";
}

/* make @wit editable */
lem:before,
rdg:before,
witDetail:before {
  background-color: inherit;
  content:
    " ["
    oxy_popup(
      edit, "@wit",
      values, oxy_xpath("let $witnesses := /TEI/teiHeader//witness/@xml:id ! concat('#', .) return string-join($witnesses, ',')"),
      labels, oxy_xpath("let $witnesses := /TEI/teiHeader//witness/@xml:id ! concat('#', .) return string-join($witnesses, ',')")
      )
    "] " !important;
}

taxonomy:before,
category:before,
interpGrp:before,
interp:before {
    content: oxy_xpath("local-name(.)") " #" oxy_textfield(edit, "@xml:id", columns, 30, tooltip, "Identifier, only latin letters and cifers 0-9, minus and underscore are allowed.") ": " !important;
}