@import "common.css";
@import "expanded-project.css";

lem {
    color: darkgreen ;
    -oxy-display-tags: none;
}

rdg {
    color: blue ;
    -oxy-display-tags: none;
    direction:inherit !important;
}
